body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body > .wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    background: none;
}

.wrapper > .container {
    padding-bottom: 8rem;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    color: #777;
    position: absolute;
    bottom: 0;
}

.footer p, .footer ul {
    line-height: 20px;
}

.footer .container > ul, .footer > .container > p {
    padding: 1.8rem;
    margin: 0;
}

.footer > .container li:before {
    content: " – ";
    padding-right: 10px;
}

.footer > .container li:first-child:before {
    content: "";
}

.jumbotron {
    background: #6cac4d;
    color: #fff;
}

.jumbotron .btn:first-child {
    margin-left: 0;
}

.jumbotron .btn-primary {
    color: #46596c;
    background-color: #ffd200;
    box-shadow: 1px 1px 2px #ba9900;
}

.jumbotron .btn-primary:hover, .jumbotron .btn-primary:focus {
    background-color: #ffde45;
}

.jumbotron .btn-secondary {
    color: white;
    background-color: #06799f;
    box-shadow: 1px 1px 2px #26648e;
}

.jumbotron .btn-secondary:hover, .jumbotron .btn-secondary:focus {
    color: white;
    background-color: #3391b0;
}

.jumbotron-small {
    padding: 24px 0;
}

.jumbotron-small {
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    z-index: 10000;
}

.navbar-nav {
    margin-top: .2em;
}

.navbar-nav > li > a {
    line-height: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #6cac4d !important;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #30782f !important;
}

.back > img {
    position: absolute;
    height: 55rem;
}

#logo {
    padding-top: 4rem;
}

.navbar-brand {
    color: #30782f !important;
    height: auto;
}

.navbar-brand {
    padding: .2em;
    margin: 0;
}

.navbar-brand > img {
    display: inline-block;
    margin-right: .5em;
}

.fa, .fl {
    padding-right: .4em;
}

.btn {
    margin-left: 20px;
}

.download.nav-tabs > li .platform {
    background-color: rgba(86, 61, 124, 0.15);
    transition: all 700ms;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: .5em;
    font-size: 1.5em;
}

.download.nav-tabs > li:first-child {
    padding-left: 0;
}

.download.nav-tabs > li:last-child {
    padding-right: 0;
}

.download.nav-tabs > li a {
    color: #16a085;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(86, 61, 124, 0.15);
    border-bottom-color: transparent;
}

.download.nav-tabs > li.active .platform {
    background: white;
    color: #3f8c3f;
}

.download.nav-tabs > li a:hover {
    color: #34495e;
}

.download [class^="col-"] .platform h3 {
    margin: 20px;
}

.package-warning {
    margin: 2em 0 0 0;
}

.download-links {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

.download-links .links {
    color: #16a085;
}

.download-links .note {
    padding-top: .5em;
}

.official-packages .heading {
    position: relative;
}

.official-packages h5 {
    border-bottom: 1px solid #16a085;
    padding: 1.7rem;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
}

.official-packages .label {
    border: 5px solid white;
    position: absolute;
    right: 1rem;
    bottom: -1.4rem;
}

.official-packages .download-links {
    padding: 1.7rem;
    margin-top: 0;
    border-radius: 0 0 3px 3px;
}

.official-packages .links:before, .dist-packages .links:before  {
    content: "\f1b3";
    width: 1.8em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.official-packages .links.sig:before, .dist-packages .links.sig:before {
    content: "\f023";
}

.official-packages .links a:not(:first-child):before {
    content: " – ";
    color: #3f8c3f;
    cursor: default;
}

.official-packages .hint {
    font-size: .5em;
    cursor: pointer;
    vertical-align: super;
}

.dist-packages {
    border-top: 1px solid rgba(86, 61, 124, 0.15);
    padding-top: 2em;
    margin-top: .7em;
}

.tab-pane {
    padding: 1.2em;
    border: 1px solid rgba(86, 61, 124, 0.15);
    border-top: none;
}

.info {
    margin: 1.5em 0;
    padding: 1.2em;
    border: 1px solid rgba(86, 61, 124, 0.15);
}

.info :first-child {
    margin-top: 0;
}

.info :last-child {
    margin-bottom: 0;
}

.faq span {
    font-weight: bold;
}

a.btn {
    margin-bottom: 5px;
    margin-top: 5px;
}

.caption a.btn {
    margin-left: 0px;
}

.navbar-toggle::before {
    content: "\f0c9";
    font-family: "FontAwesome";
}

.github-corner svg {
    fill: #34495e;
    color: #ecf0f1;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 1040;
    transition: all 700ms;
}

.github-corner svg:hover {
    fill: #6cac4d;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

.post {
    margin: 2em auto;
}

.post header .meta {
    font-size: .8em;
}

.post header .meta em {
    font-weight: bold;
    padding: 0 .4em;
}

.post header .meta em .fa {
    padding-right: .3em;
}

.post footer {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 1px solid rgba(86, 61, 124, 0.15);
}

.post-content p img:first-child:last-child {
    display: block;
    margin: 0 auto;
}

.shariff a {
    padding-left: 15px;
}

/* need to redefine this, because ad blockers like to block *rss* classes */
.fa-feed-square:before {
    content: "\f143";
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 1200px) {
    .jumbotron .btn {
        display: inline-block;
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    #logo, .jumbotron .container {
        text-align: center;
    }

    .navbar {
        text-align: center;
    }

    .navbar-header {
        float: none;
    }

    .navbar > .container {
        display: inline-block;
        width: auto;
    }

    .navbar > .container .navbar-brand {
        margin: 0;
        float: none;
        display: inline-block;
    }

    .navbar-right {
        float: none !important;
    }

    #tabs li {
        float: none;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .navbar {
        text-align: left;
    }

    .navbar .container {
        display: block;
    }

    .navbar .container > .navbar-header {
        margin-left: 0;
    }

    .navbar .container > .navbar-collapse {
        position: relative;
    }

    .navbar-header {
        text-align: left;
    }

    .jumbotron .btn {
        display: block;
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
