@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-extralight-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-extralightitalic-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-lightitalic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-italic-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-semibold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-semibolditalic-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-bold-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-bolditalic-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunito-sans/nunitosans-blackitalic-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
