---
layout: default
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div id="logo" class="col-md-3 col-md-offset-1">
                <img class="logo-graphic" src="{{ site.baseurl }}/images/keepassxc-logo.svg" alt="KeePassXC logo">
            </div>
            <div class="col-md-8">
                
                <h4>KeePassXC - Cross-Platform Password Manager</h4>
                <p>Never forget a password again.<br/>
                    Securely store passwords using industry standard encryption, quickly auto-type them into desktop applications, and use our browser extension to log into websites.
                </p>
                <p>
                    <a id="download_button" class="btn btn-primary btn-lg" href="{{ site.baseurl }}/download" role="button">
                        Download</a>
                    <a class="btn btn-secondary btn-lg" href="{{ site.baseurl }}/project" role="button">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Learn More</a>
                    <a class="btn btn-secondary btn-lg" href="{{ site.baseurl }}/donate" role="button">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Donate</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h4><i class="fa fa-lock" aria-hidden="true"></i> Encrypted</h4>
            <p>Complete database encryption using industry standard 256-bit AES.
                Fully compatible with KeePass Password Safe formats.
                Your password database works offline and requires no internet connection.
            </p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-laptop" aria-hidden="true"></i> Cross-Platform</h4>
            <p>Every feature looks, feels, works, and is tested on Windows, macOS, and Linux.
                You can expect a seamless experience no matter which operating system you are using.
            </p>
        </div>
        <div class="col-md-4">
            <h4><i class="fa fa-heart-o" aria-hidden="true"></i> Open Source</h4>
            <p>The full source code is published under the terms of the GNU General Public License and made 
                available on GitHub. Use, inspect, change, and share at will; contributions by everyone are welcome.
            </p>
        </div>
    </div>

    <div class="row mt-7"><hr/></div>

    <div class="row">
        <div class="col-md-6">
            <h4><i class="fa-solid fa-rss" aria-hidden="true"></i> Recent Blog Posts</h4>
            {% for post in site.posts limit:3 %}
            {% if post.categories contains 'blog' %}
            <article class="post" style="clear: left;">
                <header>
                <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="meta">
                        {% if post.author %} By {{ post.author }}<br>{% endif %}
                        Posted on <em class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.date | date: "%b %-d, %Y - %R %Z" }}</em>
                        in category <em class="category"><i class="fa fa-tag" aria-hidden="true"></i> {{ post.category }}</em></p>
                </header>
            </article>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div> <!-- /container -->

<script src="{{ site.baseurl }}/js/os-detect.js"></script>
<script>
    String.prototype.capitalize = function () {
        return this.charAt(0).toUpperCase() + this.slice(1);
    };

    $(function () {
        var osName = OSDetect();

        if (osName !== "unknown") {
            var button = $("#download_button");
            button.text(button.text().replace("Download", "Download for " + osName.capitalize()));
            button.html('<i class="fa-brands fa-' + osName + '" aria-hidden="true"></i> ' + button.html());
            button.attr("href", button.attr("href") + "#" + osName);
        }
    });
</script>
