<footer class="footer">    
    <div class="container">
        <ul class="list-inline pull-right">
            <li><a href="{{ site.baseurl }}/team#contact">Contact / Legal Info</a>
            <li><a href="{{ site.baseurl }}/donate">Donate</a>
            <li><a href="{{ site.baseurl }}/privacy">Privacy Policy</a>
            <li><a href="https://twitter.com/KeePassXC"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
        </ul>
        <p>&copy; 2016-2018 KeePassXC Team
    </div>
</footer>
