<div class="navbar-placeholder"></div>
<nav class="navbar navbar-expand-lg fixed-top p-0 fw-bold">
    {% include corner.html %}
    <div class="container-fluid p-2 h-100">
        <a class="navbar-brand mx-4 h-100" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/keepassxc-logo.svg" class="h-100" alt="">
            <span class="d-inline mx-2">KeePassXC</span>
        </a>
        <div class="collapse navbar-collapse mx-5">
            <ul class="navbar-nav ms-auto pt-0">
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/project">The Project</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/screenshots">Screenshots</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/download">Download</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/docs">Docs / FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/team">The Team</a></li>
            </ul>
        </div>
    </div>
</nav>
