<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-logo" src="logo-small.png">
      <a class="navbar-brand" href="index">KeePassXC</a>
    </div>
    <div class="collapse navbar-collapse in" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="project"><i class="fa fa-flag" aria-hidden="true"></i>The Project</a></li>
          <li><a href="download"><i class="fa fa-download" aria-hidden="true"></i>Download</a></li>
          <li><a href="docs"><i class="fa fa-book" aria-hidden="true"></i>Docs</a></li>
          <li><a href="docs#faq"><i class="fa fa-question-circle" aria-hidden="true"></i>FAQ</a></li>
          <li><a href="team"><i class="fa fa-users" aria-hidden="true"></i>About the Team</a></li>
         </ul>
      </div><!-- /.navbar-collapse -->
  </div>
</nav>
