// Fonts
$webfont-base-path: "../fonts";
$fa-font-path: "#{$webfont-base-path}/fontawesome";
$global-font-family: 'Nunito Sans', -apple-system, "Segoe UI", Roboto, 'Open Sans', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$global-font-size: 18px;
$base-body-font-weight: 400;
$base-strong-font-weight: 800;
$base-heading-font-weight: 400;

// Global Colours
$global-color: #333;
$global-emphasis-color: #272727;
$global-inverse-color: #fff;
$inverse-global-emphasis-color: #eee;
$global-muted-color: #888;
$branding-color: #629931;
$base-em-color: inherit;
$base-code-color: lighten($global-color, 15%);

$text-danger-color: #d13653;
$global-danger-background: #d45069;
$label-danger-background: $global-danger-background;
$text-warning-color: #d1892a;
$global-warning-background: #f7c465;
$label-warning-background: $global-warning-background;
$label-warning-color: $global-emphasis-color;
$text-success-color: darken($branding-color, 6%);
$global-success-background: desaturate(lighten($branding-color, 50%), 15%);
$label-success-background: $global-success-background;
$label-success-color: $text-success-color;

$text-primary-color: saturate(darken($branding-color, 3%), 10%);
$global-link-color: $text-primary-color;
$global-link-hover-color: desaturate(lighten($branding-color, 13%), 5%);

$global-background: #fff;
$global-muted-background: #f8f8f8;
$global-primary-background: $branding-color;
$global-primary-background-gradient: #8fcc2f;
$global-secondary-background: #efbb54;
$global-secondary-background-gradient: #ffdd7d;

$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #f0506e;

$global-border: #dadada;

// Buttons
$button-default-background: #fff;
$button-default-border: lighten($global-muted-color, 30%);
$button-default-color: $global-color;
$button-default-hover-color: lighten($global-color, 10%);
$button-default-active-color:  $global-color;
$button-default-hover-background: $global-muted-background;
$button-primary-color: $global-inverse-color;
$button-primary-hover-color: lighten($global-inverse-color, 10%);
$button-primary-active-color: darken($global-inverse-color, 5%);
$button-secondary-color: $global-color;
$button-secondary-hover-color: lighten($global-color, 10%);
$button-secondary-active-color: darken($global-color, 5%);

// Navigation
$navbar-background: transparent;
$navbar-nav-item-color: darken($global-muted-color, 10%);
$navbar-nav-item-hover-color: $global-color;
$navbar-nav-item-active-color: $global-color;

$inverse-navbar-nav-item-color: rgba(#fff, .8);
$inverse-navbar-nav-item-hover-color: #fff;
$inverse-navbar-nav-item-active-color: #fff;

$navbar-nav-item-padding-horizontal: 18px;
$navbar-gap: 0;
$navbar-gap-m: 0;
$navbar-nav-gap-m: 0;

$navbar-height: 6rem;
$navbar-height-sticky: 4rem;
$navbar-font-size: 1.2rem;
$navbar-font-size-sticky: 1rem;
$navbar-font-size-logo: 1.7rem;
$navbar-font-size-logo-sticky: 1.2rem;
$navbar-logo-size: $navbar-height;
$navbar-logo-size-sticky: $navbar-height - 1;

// Breadcrumbs
$breadcrumb-item-hover-color: $global-link-hover-color;

// Articles
$article-title-font-size-m: 1.5rem;
$article-margin-top: 2.7em;

// Dividers
$divider-margin-vertical: 3em;

// Description lists
$description-list-term-font-weight: 800;
$description-list-term-text-transform: none;

// Bullet lists
$list-margin-top: .3em;