---
layout: default
---

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron-title">
                <h4>KeePassXC Blog</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p>
        <a href="{{ site.baseurl }}/blog/feed.xml" target="_blank"><i class="fa fa-feed-square" aria-hidden="true"></i>  Subscribe</a>
        <a href="https://twitter.com/KeePassXC" style="padding-left: 1em;"><i class="fa-brands fa-twitter" aria-hidden="true"></i>Follow us on Twitter</a>
    </p>

    <section class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains 'blog' %}
        <article class="post" style="clear: left;">
            <header>
            <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <p class="meta">
                    {% if post.author %} By {{ post.author }}<br>{% endif %}
                    Posted on <em class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ post.date | date: "%b %-d, %Y - %R %Z" }}</em>
                    in category <em class="category"><i class="fa fa-tag" aria-hidden="true"></i> {{ post.category }}</em></p>
            </header>
            <div class="post-content">
                {% if post.teaser_image %}
                <div class="blog-teaser-img">
                  <img src="{{ post.teaser_image | prepend: site.baseurl }}" alt="{{ post.teaser_image_alt }}">
                </div>
                {% endif %}
                {{ post.excerpt  }}
                <a href="{{ post.url }}">Read more…</a>
            </div>
        </article>
    {% endif %}
    {% endfor %}
    </section>
</div> <!-- /container -->
