{{ partial "page_head.html" . }}

{{/*<div class="grid-container">*/}}
{{/*    <div class="grid-x grid-padding-x">*/}}
{{/*        <div class="large-12 cell">*/}}
{{/*            <h1>Welcome to Foundation</h1>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}

{{/*    <div class="grid-x grid-padding-x">*/}}
{{/*        <div class="large-12 cell">*/}}
{{/*            <div class="callout">*/}}
{{/*                <h3>We&rsquo;re stoked you want to try Foundation! </h3>*/}}
{{/*                <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>*/}}
{{/*                <p>Once you've exhausted the fun in this document, you should check out:</p>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-4 medium-4 medium-push-2 cell">*/}}
{{/*                        <p><a href="https://get.foundation/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="large-4 medium-4 medium-push-2 cell">*/}}
{{/*                        <p><a href="https://github.com/foundation/foundation-emails/discussions">Foundation Forum</a><br />Join the Foundation community to ask a question or show off your knowlege.</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-4 medium-4 medium-push-2 cell">*/}}
{{/*                        <p><a href="https://github.com/foundation/foundation-sites">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="large-4 medium-4 medium-pull-2 cell">*/}}
{{/*                        <p><a href="https://twitter.com/FoundationCSS">@FoundationCSS</a><br />Ping us on Twitter if you have questions. When you build something with this we'd love to see it.</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}

{{/*    <div class="grid-x grid-padding-x">*/}}
{{/*        <div class="large-8 medium-8 cell">*/}}
{{/*            <h5>Here&rsquo;s your basic grid:</h5>*/}}
{{/*            <!-- Grid Example -->*/}}

{{/*            <div class="grid-x grid-padding-x">*/}}
{{/*                <div class="large-12 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p><strong>This is a twelve cell section in a grid-x.</strong> Each of these includes a div.callout element so you can see where the cell are - it's not required at all for the grid.</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <div class="grid-x grid-padding-x">*/}}
{{/*                <div class="large-6 medium-6 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p>Six cell</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="large-6 medium-6 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p>Six cell</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <div class="grid-x grid-padding-x">*/}}
{{/*                <div class="large-4 medium-4 small-4 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p>Four cell</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="large-4 medium-4 small-4 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p>Four cell</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="large-4 medium-4 small-4 cell">*/}}
{{/*                    <div class="primary callout">*/}}
{{/*                        <p>Four cell</p>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}

{{/*            <hr />*/}}

{{/*            <h5>We bet you&rsquo;ll need a form somewhere:</h5>*/}}
{{/*            <form>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-12 cell">*/}}
{{/*                        <label>Input Label</label>*/}}
{{/*                        <input type="text" placeholder="large-12.cell" />*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-4 medium-4 cell">*/}}
{{/*                        <label>Input Label</label>*/}}
{{/*                        <input type="text" placeholder="large-4.cell" />*/}}
{{/*                    </div>*/}}
{{/*                    <div class="large-4 medium-4 cell">*/}}
{{/*                        <label>Input Label</label>*/}}
{{/*                        <input type="text" placeholder="large-4.cell" />*/}}
{{/*                    </div>*/}}
{{/*                    <div class="large-4 medium-4 cell">*/}}
{{/*                        <div class="grid-x">*/}}
{{/*                            <label>Input Label</label>*/}}
{{/*                            <div class="input-group">*/}}
{{/*                                <input type="text" placeholder="small-9.cell" class="input-group-field" />*/}}
{{/*                                <span class="input-group-label">.com</span>*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-12 cell">*/}}
{{/*                        <label>Select Box</label>*/}}
{{/*                        <select>*/}}
{{/*                            <option value="husker">Husker</option>*/}}
{{/*                            <option value="starbuck">Starbuck</option>*/}}
{{/*                            <option value="hotdog">Hot Dog</option>*/}}
{{/*                            <option value="apollo">Apollo</option>*/}}
{{/*                        </select>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-6 medium-6 cell">*/}}
{{/*                        <label>Choose Your Favorite</label>*/}}
{{/*                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>*/}}
{{/*                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="large-6 medium-6 cell">*/}}
{{/*                        <label>Check these out</label>*/}}
{{/*                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>*/}}
{{/*                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*                <div class="grid-x grid-padding-x">*/}}
{{/*                    <div class="large-12 cell">*/}}
{{/*                        <label>Textarea Label</label>*/}}
{{/*                        <textarea placeholder="small-12.cell"></textarea>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
{{/*            </form>*/}}
{{/*        </div>*/}}

{{/*        <div class="large-4 medium-4 cell">*/}}
{{/*            <h5>Try one of these buttons:</h5>*/}}
{{/*            <p><a href="#" class="button">Simple Button</a><br/>*/}}
{{/*                <a href="#" class="success button">Success Btn</a><br/>*/}}
{{/*                <a href="#" class="alert button">Alert Btn</a><br/>*/}}
{{/*                <a href="#" class="secondary button">Secondary Btn</a></p>*/}}
{{/*            <div class="callout">*/}}
{{/*                <h5>So many components, girl!</h5>*/}}
{{/*                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>*/}}
{{/*                <a href="https://get.foundation/sites/docs/" class="small button">Go to Foundation Docs</a>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}


<main class="uk-section">
    <div class="uk-grid" uk-grid>
        <div class="container">
            <div class="mw-50 pb-5">
                <h1 class="mb-0">KeePassXC</h1>
                <p class="mt-0 fw-bolder">Cross-platform Password Manager</p>
                <p>Never forget a password again. Instead, securely store and auto-fill them into your applications and webservices.</p>
                <p>No data collection, completely open source, works on all desktop platforms.</p>
                <p class="mt-4">
                    <a id="download_button" class="btn btn-primary" href="{{ .Site.BaseURL }}/download" role="button">
                        Download</a>
                    <a class="btn" href="{{ .Site.BaseURL }}/project" role="button">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Learn More</a>
                    <a class="btn" href="{{ .Site.BaseURL }}/donate" role="button">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Donate</a>
                </p>
            </div>
        </div>
    </div>
</main>

<div class="uk-section">
    <div class="uk-container">
        <div class="cell grid-x">
            <div class="cell medium-4">
                <h2 class="fs-4"><i class="fa-solid fa-lock" aria-hidden="true"></i> Secure</h2>
                <p>Your passwords remain encrypted at all times and no data is stored on remote servers, so you stay in full control of your data. No cloud, no ads, no subscriptions.
                </p>
            </div>
            <div class="cell medium-4">
                <h2 class="fs-4"><i class="fa-solid fa-laptop" aria-hidden="true"></i> Cross-platform</h2>
                <p>Every feature is thoroughly tested on Windows, macOS, and Linux, so you can expect a seamless experience no matter which operating system you use.
                </p>
            </div>
            <div class="cell medium-4">
                <h2 class="fs-4"><i class="fa-regular fa-heart" aria-hidden="true"></i> Open Source</h2>
                <p>The source code is completely open source under the GPLv3 license and openly available on GitHub. Feel free to inspect, share, and contribute!</p>
            </div>
        </div>
    </div>

    <div class="uk-container">
        <h2 class="fs-4 pb-3">Recent Blog Posts</h2>
        {% for post in site.posts limit:3 %}
        {% if post.categories contains 'blog' %}
        <article class="card my-3">
            <div class="card-body">
                <h3 class="card-title fs-5"><a href="{ post.url }">{ post.title }</a></h3>
                <p class="fs-6">
                    {% if post.author %} By { post.author }<br>{% endif %}
                    Posted on <em class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> { post.date | date: "%b %-d, %Y - %R %Z" }</em>
                    in category <em class="category"><i class="fa fa-tag" aria-hidden="true"></i> { post.category }</em>
                </p>
            </div>
        </article>
        {% endif %}
        {% endfor %}
    </div>
</div>

    <!--<script>-->
    <!--    String.prototype.capitalize = function () {-->
    <!--        return this.charAt(0).toUpperCase() + this.slice(1);-->
    <!--    };-->

    <!--    $(function () {-->
    <!--        var osName = OSDetect();-->

    <!--        if (osName !== "unknown") {-->
    <!--            var button = $("#download_button");-->
    <!--            button.text(button.text().replace("Download", "Download for " + osName.capitalize()));-->
    <!--            button.html('<i class="fa-brands fa-' + osName + '" aria-hidden="true"></i> ' + button.html());-->
    <!--            button.attr("href", button.attr("href") + "#" + osName);-->
    <!--        }-->
    <!--    });-->
    <!--</script>-->

{{ partial "page_foot.html" . }}
