@mixin hook-article-title() {
    font-weight: bold;
    margin-bottom: $margin-small-margin;
}

@mixin hook-article-meta() {
    margin-top: $margin-small-margin;
    line-height: 150%;

    em, time {
        font-weight: bold;
        font-style: italic;
    }
}
