@mixin hook-description-list-term() {
    padding-bottom: .4em;
    margin: 1em 0 .8em 0;
    font-weight: $description-list-term-font-weight;

    #faq & {
        border-bottom: 1px solid $global-border;
    }

    #faq & > a:before {
        content: "Q: ";
    }
}

@mixin hook-description-list-description() {
    margin-bottom: 2em;

    #faq &:before {
        content: "A: ";
        font-weight: $description-list-term-font-weight;
        color: $global-emphasis-color;
        float: left;
        padding-right: .4em;
    }
}
