.global-footer {
    border-top: 4px solid $branding-color;
    background: linear-gradient(darken($global-color, 5%) 0%, darken($global-color, 2%) 100%);

    .uk-nav li > a {
        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .copyright {
        font-size: .9em;
    }

    .footer-logo {
        height: 2em;
        margin-top: -3px;
        padding-right: .6em
    }
}
