html {
    scroll-padding-top: $navbar-height-sticky + 3;
}

body {
    background: linear-gradient(#f5f5f5 0, #fff 50vh);
}

main > *:last-child {
    padding-bottom: $section-large-padding-vertical + $margin-medium-margin;
}

.blog {
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
}

figure {
    margin: 1.5em 0;
    text-align: center;

    & img {
        @extend .uk-card-default;
        border: 1px solid $global-border;
        border-radius: 3px;
        max-width: 100%;
    }

    a:hover img, a:focus img {
        @extend .uk-card-default.uk-card-hover:hover;
    }

    &.no-border img, &.no-border a:hover img, &.no-border a:focus img {
        box-shadow: none;
        background: none;
        border: none;
    }
}

figcaption {
    margin: 1em 0;
    color: $global-muted-color;
    font-size: $base-small-font-size;
}

:not(pre) > code {
    white-space: normal;
}
