html {
    scroll-padding-top: $navbar-height-sticky + 1;
}

body {
    background: linear-gradient(#f4f4f4 0, #fff 100%);
}

.blog {
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
}
