<div id="offcanvas-navigation" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default"></ul>
    </div>
</div>

<div uk-sticky="start: 10; animation: uk-animation-fade; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-light; cls-inactive: uk-navbar-transparent">
    <nav class="uk-navbar uk-navbar-container" id="main-nav" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ .Site.BaseURL }}/">
                <img src="{{ .Site.BaseURL }}/assets/img/keepassxc-logo.svg" alt="">
                <span>KeePassXC</span>
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@l">
                <li><a href="{{ .Site.BaseURL }}/project">The Project</a></li>
                <li><a href="{{ .Site.BaseURL }}/screenshots">Screenshots</a></li>
                <li><a href="{{ .Site.BaseURL }}/download">Download</a></li>
                <li><a href="{{ .Site.BaseURL }}/blog">Blog</a></li>
                <li><a href="{{ .Site.BaseURL }}/docs">Docs / FAQ</a></li>
                <li><a href="{{ .Site.BaseURL }}/team">The Team</a></li>
            </ul>

            <button class="uk-navbar-toggle uk-hidden@l" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-navigation" type="button"></button>
        </div>
        {{ partial "corner.html" . }}
    </nav>
</div>
