<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.png">

    <title>{% if page.title %}{{ page.title }} - KeePassXC{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css?201702271450" rel="stylesheet">
    <link href="css/flat-ui.min.css?201702271450" rel="stylesheet">
    <link href="css/font-awesome.min.css?201702271450" rel="stylesheet">
    <link href="css/font-linux.min.css?201702271450" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/main.min.css" rel="stylesheet">
    <link rel="canonical" href="https://keepassxc.org{{ page.url }}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js?201702271450"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js?201702271450"></script>
    <![endif]-->

    <script>
        // stub document ready function
        window.q = [];
        window.$ = function(f) {
            q.push(f);
        };
    </script>
</head>
<body>
    <div class="wrapper">

        {% include navbar.html %}

        {{ content }}

        {% include footer.html %}

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $(function() {
                // execute queued functions
                $.each(q, function(index, f){
                    $(f)
                });

                var initialAnimation = true;
                var navFixed = false;
                var nav = $(".navbar");
                var navHeight = nav.height();
                var content = $(".wrapper > .jumbotron");

                function animateNavbar() {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > navHeight * .8) {
                            if (!navFixed) {
                                navFixed = true;

                                content.css({
                                    "margin-top": navHeight + "px"
                                });
                                nav.css({
                                    "position": "fixed",
                                    "top": -navHeight + "px",
                                    "width": "100%"
                                });
                                nav.stop().animate({"top": 0}, 350);
                            }
                        } else if ($(this).scrollTop() == 0) {
                            nav.css({
                                "position": "relative",
                                "top": 0
                            });
                            content.css({
                                "margin-top": 0
                            });
                            navFixed = false;
                        }
                    });
                }

                setTimeout(function() {
                    // correct offset due to fixed header
                    var st = $(window).scrollTop();
                    var offset = $(location.hash).offset();

                    if (st > navHeight * .8 && offset) {
                        $(window).scrollTop(offset.top - navHeight - 10);
                    }
                }, 100);

                $(window).bind("scroll", animateNavbar);
                animateNavbar();

                $(".eobfs").each(function() {
                    $(this).text($(this).text().replace(/ 'AT` /, '@').replace(/ \^DOT\' /, '.'));
                });
                $(".eobfsl").each(function() {
                    var e = $(this).text().replace(/ 'AT` /, '@').replace(/ \^DOT\' /, '.');
                    $(this).html('<a href="mailto:' + e + '">' + e + '</a>');
                });
            });
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            // tracker methods like "setCustomDimension" should be called before "trackPageView"
            _paq.push(["setCookieDomain", "*.keepassxc.org"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "https://tracking.keepassxc.org/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '4']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript><p><img src="https://tracking.keepassxc.org/piwik.php?idsite=4&rec=1" style="border:0;" alt=""/></p>
        </noscript>
        <!-- End Piwik Code -->
    </div>
</body>
</html>
