<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KeePassXC Password Manager">
    <meta name="author" content="KeePassXC Team">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/img/safari-pinned-tab.svg" color="#4C972B">
    <meta name="theme-color" content="#4C972B">

    <title>{% if page.title %}{{ page.title }} – KeePassXC{% else %}{{ site.title }}{% endif %}</title>

    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
{% include navbar.html %}
<main class="content pb-7">
{{ content }}
</main>
{% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/jquery.slim.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script>
        // Navbar scroll effect
        $(function() {
            const nav = $(".navbar.fixed-top");
            nav.toggleClass('scrolled', $(this).scrollTop() > nav.height());
            $(document).scroll(function() {
                nav.toggleClass('scrolled', $(this).scrollTop() > nav.height());
            });
        });

        $(function() {
            $(".eobfs").each(function() {
                $(this).text($(this).text().replace(/ 'AT` /, '@').replace(/ \^DOT\' /, '.'));
            });
            $(".eobfsl").each(function() {
                var e = $(this).text().replace(/ 'AT` /, '@').replace(/ \^DOT\' /, '.');
                $(this).html('<a href="mailto:' + e + '?body=Thank%20you%20for%20mailing%20us.%0APlease%20be%20sure%20to%20send%20only%20legal%20or%20security%20issues%20to%20this%20address.%0A%0AFor%20all%20non-confidential%20correspondence%20requiring%20no%20direct%20contact%20to%20a%20team%20member%2C%20please%20use%20%5Bmatrix%5D%2C%20IRC%2C%20or%20GitHub.%0A%0AOur%20PGP%20key%20is%20105D%208D57%20BB97%2046BD.">' + e + '</a>');
            });
        });
    </script>


    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.keepassxc.org"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://analytics.keepassxc.org/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="https://tracking.jbev.net/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</body>
</html>
